<!-- HERO SECTION -->
<section>
   <div class="container header">
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
                <% var welcomePhrase = "Feeling at home?"; %>
                <% if (UserState > 0 && User) { %>
                    <% welcomePhrase = "Welcome " + User.firstName; %>
                <% } %>
                <h2><center> <%- welcomePhrase %> </center></h2>
                <center>Your ideal home awaits, just enter your zip code!</center>
            </div>
            <div class="col-lg-4"></div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="searchbar div-centered col-lg-7" id="searchbar">
                <form action="<%= fa17g09_env_prefix %>/search" method="post" class="form-inline">
                    <div class="input-group searchbar-input">
                        <input type="query" name="city" id="search" class="form-control" placeholder="Enter address, zip code, or city ..." aria-label="Search for..." value="<% if (locals.previousSearchString) { %><%=previousSearchString %><%}%>" />
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </button>
                        </span>
                    </div>
                </form>
                <!-- END Search Bar -->
                <% if (errors) { %>
                    <div class="alert alert-warning alert-dismissible fade show row search-alert" role="alert">
                        <div class="col-10 search-alert-detail">
                            <strong><%=errors.msg %>!</strong>
                        </div>
                        <div class="col-2 search-alert-detail">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
</section>

<!-- DIVIDER -->
<div class ="divider">
    <hr align="left" width="100%">
</div>

<!-- ABOUT SECTION -->
<section class="container">
    <!-- CONTENT -->
    <div class="row header">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <h2><center>What is HouseShop</center></h2>
            <center>HouseShop is the up and coming premier way to browse and find a home that suits to your every liking. With our simple and intuitive design, we can find you your dream house in no time!  </center>
        </div>
        <div class="col-lg-2"></div>
    </div>
 <!--    <div class="row">
        <form action="<%= fa17g09_env_prefix %>/search" method="get" class="form-inline div-centered">
            <button name="city" type="submit" value="Search" class="form-control btn btn-primary btn-lg">
                Show All Listings
            </button>
        </form>
    </div> -->
    <div class="row">
        <%listings.forEach(function(listing) { %>
            <div class="col-lg-4">
                <div class="card" >
                    <a href="<%= fa17g09_env_prefix %>/listing/result?listing=<%= listing.id %>">
                        <div class="wrapper-card-img">
                            <div class="card-img" style="background-image: url(<%= fa17g09_env_prefix %>/<%= listing.thumbnail %>);"></div>
                        </div>
                    </a>
                    <div class="card-body">
                        <div class="listing-address">
                            <h5 class="card-title">
                                <%= listing.address %> <br>
                                <%= listing.city %>, <%= listing.state %> <%= listing.zipcode %>
                            </h5>
                        </div>
                        <div class="listing-detail">
                            <h4 class="card-title">$<%= listing.price %> </h4>
                            <h5>
                                <i class="fa fa-bed" aria-hidden="true"></i>
                                <%= listing.numBedrooms %> bds
                                |
                                <i class="fa fa-bath" aria-hidden="true"></i>
                                <%= listing.numBathrooms %> ba
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        <% }) %>
    </div>

</section>
