<section class="filter row">
    <form action="filter" method="post" class="form-inline">
        <div class="row">
        </div>
        <input name="city" type="hidden" value="<% if (locals.previousSearchString) { %><%=previousSearchString %><%}%>"/>
        <noscript><input type="submit" value="Submit"></noscript>
    </form>
    <!-- END Filter Options  -->

    <div class="btn-group col">
        <!-- Sort results by: -->
        <!-- note the extra slash before the prefix -->
        <form action="<% if (locals.fa17g09_env_prefix) { %>/<%= fa17g09_env_prefix %><%}%>/search" method="post" class="form-inline">
            <div class="row">
                <div class="col-3 filter-button">
                    <h5><i class="fa fa-bed" aria-hidden="true"></i></h5>
                    <select class="custom-select" name="bedFilterOption" onchange="this.form.submit()">
                        <%  var rooms = 13; %>
                        <% for (var i = 0; i < rooms; i++){
                            var selected = "";
                            if (locals.bedFilterOption) {
                                if  (locals.bedFilterOption == i){
                                    selected = 'selected="selected"';
                                }
                            }
                            %>
                            <option value="<%= i %>" <%= selected %> ><%= i %>+ Beds</option>
                        <% } %>
                    </select>
                </div>
                <div class="col-3 filter-button">
                    <h5><i class="fa fa-bath" aria-hidden="true"></i></h5>
                    <select class="custom-select" name="bathFilterOption" onchange="this.form.submit()">
                        <%  var bathrooms = 13; %>
                        <% for (var i = 0; i < bathrooms; i++){
                            var selected = "";
                            if (locals.bathFilterOption) {
                                if  (locals.bathFilterOption == i){
                                    selected = 'selected="selected"';
                                }
                            }
                            %>
                            <option value="<%= i %>" <%= selected %> ><%= i %>+ Baths</option>
                        <% } %>
                    </select>
                </div>

                <div class="col-6  filter-button sort-selection">
                    <h5><i class="fa fa-filter" aria-hidden="true"></i></h5>
                    <select class="custom-select" name="sortOption" onchange="this.form.submit()">
                        <%
                        var optionsMap = new Map();
                        optionsMap.set("price ASC", "Price (low to high)");
                        optionsMap.set("price DESC", "Price (high to low)");
                        optionsMap.set("numBedrooms DESC", "Number of Bedrooms (descending)");
                        optionsMap.set("numBedrooms ASC", "Number of Bedrooms (ascending)");
                        optionsMap.set("squareFeet DESC", "SqFt (descending)");
                        optionsMap.set("squareFeet ASC", "SqFt (ascending)");
                        for (var [key, value] of optionsMap) {
                            var selected = "";
                            if (locals.previousSortOption) {
                                if  (locals.previousSortOption == key){
                                    selected = 'selected="selected"';
                                }
                            }
                        %>
                            <option value="<%= key %>" <%= selected %>><%= value %></option>
                        <%}%>
                    </select>
                    <input name="city" type="hidden" value="<% if (locals.previousSearchString) { %><%=previousSearchString %><%}%>"/>
                </div>
            </div>
        </form>
    </div>
    <!-- END Sorting Options  -->

</section>
<!-- END Filters -->

<section class="row content">
    <% if(!errors){ %>
        <div class="col-lg-6 col-xs-12 container-map column-left">
            <div class="google-map" id="map"></div>
            <script>
                // Initialize Map as a callback from google maps api
                function initMap() {

                    // Map options
                    var options = {
                        zoom: 13,
                        center: {lat: 37.7749, lng: -122.4194}
                    };

                    // New Map
                    var map = new google.maps.Map(document.getElementById('map'), options);

                    // New Geocoder
                    geocoder = new google.maps.Geocoder();

                    // Get listings
                    var listings = <%- JSON.stringify(listings) %>;

                    if(listings == null) return;
                    if (listings) console.log(listings);
                    // Geocode each listing by passings its address
                    listings.forEach(function(listing) {
                        // console.log(listing.address);
                        geoCodeAddress(geocoder, map, listing.address, listing.city);
                    });
                }

                // Takes address, geocode and add marker to that address
                function geoCodeAddress(geocoder, map, address, city) {
                    var fullAddress = address + city;
                    geocoder.geocode({'address': fullAddress}, function(results, status) {
                        if (status === google.maps.GeocoderStatus.OK) {
                            map.setCenter(results[0].geometry.location);

                            // Add marker
                            var marker = new google.maps.Marker({
                                map: map,
                                position: results[0].geometry.location
                            });

                        } else {
                            alert('Geocode was not successful for the following reason: ' + status);
                        }
                    });
                }
            </script>

            <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDmesu9CCVsAtFvsAJUJxj-a31UtUyINmk&callback=initMap">
            </script>
        </div>
    <% } %>
    <!-- END Left Container: Map -->
    
    <div class="col-lg-6 col-md-6 col-xs-12 results column-right">
        <section class="search-results" style="z-index: 50">
            <div>
                <!-- unacceptable hack for error handling -->
                <% if (errors) {listings.length = 0;} %>
                <p>Showing <%= listings.length %> homes for sale</p>
            </div>
                  <% if(errors){ %>
                      <div class="alert alert-warning alert-dismissible fade show row search-alert" role="alert">
                          <div class="col-10 search-alert-detail">
                              <strong><%=errors.msg%>!</strong>
                          </div>
                          <div class="col-2 search-alert-detail">
                              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                              </button>
                          </div>
                      </div>
                  <% } %>
              <!-- END Error Alert Message -->
        </section>
        <!-- END Number of Search Results  -->
        <div class="results">
            <%listings.forEach(function(listing) { %>
                <div class="card" >
                    <a href="listing/result?listing=<%= listing.id %>">
                        <div class="wrapper-card-img">
                            <div class="card-img" style="background-image: url(<%= listing.thumbnail %>);"></div>
                        </div>
                    </a>
                    <div class="card-body">
                        <div class="listing-address">
                            <h5 class="card-title">
                                <%= listing.address %> <br>
                                <%= listing.city %>, <%= listing.state %> <%= listing.zipcode %>
                            </h5>
                        </div>
                        <div class="row listing-detail">
                            <h4 class="card-title col">$<%= listing.price %> </h4>
                            <h5 class="col">
                                <i class="fa fa-bed" aria-hidden="true"></i>
                                <%= listing.numBedrooms %> bds
                                |
                                <i class="fa fa-bath" aria-hidden="true"></i>
                                <%= listing.numBathrooms %> ba
                            </h5>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
    <!-- END Right Container: Listings Thumbnails -->

</section>
<!-- END Content: Map + Listings -->
